// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { ApolloWsSessionSocket } from "./Socket.js";

export declare namespace ApolloWsSession {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        /** Target agent, sent as the required ?agent_id= query param. */
        agentId: string;
        headers?: Record<string, string>;
        /** Debug mode. Defaults to false. */
        debug?: boolean;
        /** Reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class ApolloWsSession {
    protected readonly _options: ApolloWsSession.Options;

    constructor(_options: ApolloWsSession.Options = {}) {
        this._options = _options;
    }

    public async connect(args: ApolloWsSession.ConnectArgs): Promise<ApolloWsSessionSocket> {
        const { agentId, headers, debug, reconnectAttempts } = args;
        // Resolve header suppliers (e.g. the bearer token) to strings for the upgrade,
        // then forward them onto the WebSocket request.
        const resolved: Record<string, string> = {};
        for (const [key, value] of Object.entries(this._options.headers ?? {})) {
            const supplied = await core.Supplier.get(value);
            if (supplied != null) {
                resolved[key] = String(supplied);
            }
        }
        const _headers: Record<string, unknown> = mergeHeaders(resolved, headers);
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.ApolloEnvironment.Gcp).gcp,
                "/apollo-api/v1/management/session",
            ),
            // Server echoes the "aui-websocket" subprotocol, so it must be requested.
            protocols: ["aui-websocket"],
            queryParameters: { agent_id: agentId },
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new ApolloWsSessionSocket({ socket });
    }
}
